<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twitter search web-page (Times Of Israel project)</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js" language="JavaScript"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" language="JavaScript"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js" language="JavaScript"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js" language="JavaScript"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.bootstrap.min.js" language="JavaScript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js" language="JavaScript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js" language="JavaScript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js" language="JavaScript"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js" language="JavaScript"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js" language="JavaScript"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.colVis.min.js" language="JavaScript"></script>
    <style>
        body{
            margin: 15px;
        }
    </style>
</head>
<body>
<form method="get" action="/search_tweets">
    <p><input type="text" name="term" placeholder="Term to search">
        <input type="submit" value="Search Tweets">
    </p>
</form>
<hr>
<h1>Returned Tweets for {{ term }}:</h1>
<div class="container-fluid">
    <div class="col-lg-9">
        <p>Number of tweets returned: {{ tweets|length }}</p>
        {% if tweets|length > 0 %}
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                {% for key in headers.keys() %}
                <th>{{key}}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for tweet in tweets %}
            <tr>
                {% for key in headers.keys() %}
                <td>{{tweet[key]}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
    <div class="col-lg-3">
        {% if word_count| length > 0 %}
        <h2>Popular words</h2>
        <ul>
            {% for pair in word_count %}
                <li>
                    {% for key in pair %}{{key}} {% endfor %}
                </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
<script>
    $(document).ready(function() {
        var table = $('#example').DataTable( {
            lengthChange: false,
            buttons: [ 'copy', 'excel', 'pdf', 'colvis' ]
        } );

        table.buttons().container()
            .appendTo( '#example_wrapper .col-sm-6:eq(0)' );

        // $('li').click(function(){
        //     $(this).hide();
        // });
    } );
</script>
</body>
</html>